<!DOCTYPE html>
<html lang="en" >
<head>
<title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="icon" href="images/labify.png" type="image/x-icon">
<link rel='stylesheet' href='css/fonts.googleapis.css'>
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
<link rel="stylesheet" href="css/app.css"/>
<link rel="stylesheet" href="css/experiment.css"/>
<script src="js/createjs-2015.05.21.min.js"></script>
<script src="js/canvasjs.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-fullscreen/angular-fullscreen.js"></script>
<script src="js/Gettext.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script src="js/getlanguage.js"></script>
<script src="js/user_controller.js"></script>
<script src="js/view.js"></script>
<script src="js/experiment.js"></script>
<script type="text/javascript">
    angular
    .module('starterApp', ['ngMaterial','users'])
    .config(function($mdThemingProvider, $mdIconProvider){
        $mdIconProvider
            .icon("menu"       , "svg/menu.svg"        , 24)
            .icon("fullscreen"       , "icons/Icon3.svg", 24)
            .icon("help"      , "icons/Icon2.svg", 24);
            $mdThemingProvider.theme('default')
                .primaryPalette('blue')
                .accentPalette('red');
    });
</script>
</head>

<body style="background-color: #f2f2f2;" ng-app="starterApp" ng-controller="UserController as ul">
<md-toolbar class="md-toolbar-tools" id="main">
    <md-button class="md-icon-button" hide-gt-md ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <!-- //Experiment title gives here//   -->
    <h1 flex="" layout="row" class="expTitle" id="expTitle">{{heading}}</h1>
    <md-button class="md-icon-button" aria-label="help" ng-click="showActionToast()">
        <md-icon md-svg-icon="help"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="fullscreen" ng-click="goFullscreen()">
        <md-icon md-svg-icon="fullscreen"></md-icon>
    </md-button>
</md-toolbar>
<md-content flex layout="row" style="background-color: #f2f2f2;">
<md-content id="content" layout="column" style="background-color: #f2f2f2;">
    <canvas id="demoCanvas" width="700" height="700" align="center" layout-fill experiment></canvas>
    <div id="Copyright">{{copyright}}</div>
</md-content>
<md-sidenav id="site-sidenav" class="site-sidenav md-sidenav-left" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
<div>
    <md-button id="variables" class="md-raised md-primary toolbarbutton subTitle" ng-click="toggle1()">{{variables}}
        <span aria-hidden="true">
<md-icon md-svg-src="md-toggle-arrow"  aria-hidden="true" ng-animate="{enter: 'rotate', leave: 'rotateCounterwise'}" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[isActive1]" ></md-icon>
</span></md-button>
      
      <!-- ////////////   -->
      <div ng-hide="showVariables" class="div">
        <div ng-hide="scene_one_hide">
            <!-- Slider label for mass of weight hanger -->
            <md-content class="md-title selectable" layout-padding >{{calibrate_slider_txt}}  {{calibration_value}}</md-content>
            <!-- Slider for mass of weight hanger -->
            <div layout>      
                <md-slider flex id="slider" ng-disabled="control_disable" ng-model="calibration_value" step="1" min="0" max="20" aria-label="rating" ng-change="calibration();"></md-slider>        
            </div>
            <!-- Button for start experiment  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" id="reset_btn" ng-click="startExperiment();">{{start_txt}}</md-button>
            </section>
            <!-- Button for reset experiment  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised"  id="reset_btn" ng-click="calibrateTelescope();">{{reset_txt}}</md-button>
            </section>
        </div>
        <div ng-show="scene_two_hide">
            <!-- Insert dropdown label for lamp -->
            <md-content class="md-title selectable" layout-padding>{{select_lamp_txt}}</md-content>
            <!-- Insert dropdown box for lamp -->
            <md-select placeholder="{{lamp_array[0].lamp}}"ng-model="lamp" ng-change="changeLamp();" aria-label="environment" layout="row" layout-align="center" id="lamp">
                <md-option ng-repeat="x in lamp_array" value="{{ x.index }}" label="{{x.index}}">{{ x.lamp }}</md-option>
            </md-select>
            <!-- Button for switch on light  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" ng-model = "lightOn" id="reset_btn" ng-click="lightOnOff();">{{light_on_off_txt}}</md-button>
            </section>
            <!-- Button for place grating  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" ng-model = "gratingPlaced" id="reset_btn" ng-click="placeGrating();" style="padding:0 13px;">{{grating_txt}}</md-button>
            </section>

            <!-- Slider label for angle of telescope -->
            <md-content class="md-title selectable" layout-padding >{{telescope_angle_txt}}  {{telescope_angle}}</md-content>
            <!-- Slider for angle of telescopt -->
            <div layout>      
                <md-slider flex ng-model="telescope_angle" step="0.01" min="0" max="180" aria-label="rating" ng-change="changeTelescopeAngle();"></md-slider>        
            </div> 

            <!-- Slider label for angle of vernier table -->
            <md-content class="md-title selectable" layout-padding >{{vernier_table_angle_txt}}  {{vernier_table_angle}}</md-content>
            <!-- Slider for angle of telescopt -->
            <div layout>      
                <md-slider flex ng-model="vernier_table_angle" step="0.3" min="-30" max="30" aria-label="rating" ng-change="changeVernierTableAngle();"></md-slider>        
            </div> 

            <!-- Slider label for fine angle of telescope -->
            <md-content class="md-title selectable" layout-padding >{{fine_angle_txt}}  {{fine_angle}}</md-content>
            <!-- Slider for angle of telescopt -->
            <div layout>      
                <md-slider flex ng-disabled ="fine_disable" ng-model="fine_angle" step="0.1" min="-20" max="20" aria-label="rating" ng-change="fineAngle();"></md-slider>        
            </div> 

            <!-- Button for calibrate telescope  -->
            <section layout="row" layout-align="center center">
              <md-button class="md-raised" id="reset_btn" ng-click="calibrateTelescope();">{{calibrate_txt}}</md-button>
            </section>
        </div>
      </div>      
      <!-- ////////////   -->
      
    <md-button id="result" class="md-raised md-primary toolbarbutton subTitle" ng-click="toggle()">{{result}}
      <span aria-hidden="true">
        <md-icon md-svg-src="md-toggle-arrow"   aria-hidden="true" ng-animate="{enter: 'rotate', leave: 'rotateCounterwise'}" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[isActive]" ></md-icon>
      </span> 
    </md-button>
        <!-- //inset result label //   -->       
        <div ng-hide="showValue" class="div">
					 <md-content id="resultSection" class="md-title selectable" layout-padding><p>Number of grating per metre, N= mλ/sin(Θ)</p></md-content>
        </div>
    </div>
  </md-sidenav>
</md-content>
</body>
<script src="js/loading.js"></script>
<script  async="async">

if(navigator.serviceWorker) {
  navigator
    .serviceWorker
    .register('service_worker_Emission_Spectra.js')
    .then(function(r) {
      console.log('NW  App now available offline');
    })
    .catch(function(e) {
      console.log('NW App NOT available offline');
      console.log(e);
    });
} else {
  console.log('Service workers are not supported');
}

</script>
</html>
